{% extends "layout/base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-3 col-md-12 mb-3">
        <div class="mb-3">
            <input type="text" class="form-control" id="search" name="search", placeholder="Search...">
        </div>

        <hr class="mb-3">

        <div class="mb-3">
            <span class="mb-1 d-block">
                <strong>Tags</strong>
            </span>
            {% for tag in image.tags %}
            <span>
                <a href="#" class="mb-1">{{ tag.name }}</a>
            </span>
            {% endfor %}
        </div>

        <hr class="mb-3">

        {% if image.source or image.description %}
        <div class="mb-3">
            <span class="mb-3 d-block">
                <strong>Information</strong>
            </span>

            {% if image.source %}
            <a href="{{ image.source }}" target="_blank" class="mb-3 d-block">{{ image.source }}</a>
            {% endif %}

            {% if image.description %}
            <div class="mb-3">{{ image.description }}</div>
            {% endif %}
        </div>

        <hr class="mb-3">

        {% endif %}

        <div>
            <a class="btn btn-sm btn-primary w-100 mb-2" href="/image/{{ image.id }}/edit">
                Edit
            </a>
            <button class="btn btn-sm btn-danger w-100" hx-post="/image/{{ image.id }}/trash">
                Trash
            </button>
        </div>
    </div>
    <div class="col-lg-9 col-md-12">
        <img src="{{ image.url }}" class="w-100"/>
    </div>
</div>


{% endblock %}