{% extends "layout/base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-3 col-sm-12">
        <form id="upload-form" class="mb-3" action="/upload" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <input
                    class="form-control"
                    type="file"
                    id="file"
                    name="file"
                    accept="image/png, image/jpeg">
            </div>

            <div class="mb-3">
                <input
                    type="text"
                    class="form-control"
                    id="description"
                    name="description"
                    placeholder="Description">
            </div>

            <div class="mb-3">
                <input
                    type="text"
                    class="form-control"
                    id="source"
                    name="source"
                    placeholder="Source">
            </div>

            <div class="mb-3">
                <textarea class="form-control" id="tags" name="tags" placeholder="Tags" rows="3"></textarea>
            </div>

            <div class="align-items-stretch">
                <button class="btn btn-primary btn-sm w-100" type="submit">Upload</button>
            </div>
        </form>
    </div>

    <div class="col-md-9 col-sm-12">
        <div class="text-center">
            <img id="preview" class="w-100"/>
        </div>
    </div>
</div>

<script>
    function update_preview(file_input, preview) {
        var [file] = file_input.files
        if (file) {
            preview.src = URL.createObjectURL(file)
        }
    }

    var form = document.getElementById("upload-form");
    var file_input = document.getElementById("file")
    var preview = document.getElementById("preview")

    // TODO: Do we need to reset form?
    // form.reset()

    window.addEventListener("paste", e => {
        var file = e.clipboardData.files[0]
        if (file.type.startsWith("image/")) {
            var dataTransfer = new DataTransfer();
            dataTransfer.items.add(e.clipboardData.files[0])
            file_input.files = dataTransfer.files;
        
            update_preview(file_input, preview)
        }
    })

    file_input.onchange = evt => {
        update_preview(file_input, preview)
    }
</script>

{% endblock %}